
@import "tailwindcss";

@theme {
  --color-primary: #7c3aed;
  --color-secondary: #2563eb;
  --color-dark: #0b1220;
  --color-light: #f8fafc;

  --font-sans: "Inter", sans-serif;
}

:root {
  font-family: "Inter", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
}

html {
  scroll-behavior: smooth;
}
